@font-face {
  font-family: sego;
  src: url(font/SegoeUI.ttf);
}
body, html {
  padding: 0px;
}

.header {
  height: 60px;
  width: 100%;
  box-shadow: 0px 0px 1px black;
  background-color: #FFFFFF;
  align-items: center;
  position: fixed;
  z-index: 1;
}
.header .image {
  height: 30px;
  width: 200px;
  border: 2px solid black;
  background-image: url(../images/insta.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 210px;
  align-items: center;
  position: absolute;
  margin-top: 20px;
  border: none;
}

.body {
  height: 100vh;
  width: 100%;
  background-color: #FAFAFA;
}
.body .header2 {
  height: 500px;
  width: 400px;
  box-shadow: 0px 0px 1px black;
  margin-top: 105px;
  position: absolute;
  margin-left: 480px;
  background-color: #FFFFFF;
}
.body .header2 .lock {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 2px solid black;
  position: absolute;
  margin-left: 150px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body .word {
  height: 30px;
  width: 200px;
  border: 2px solid black;
  position: absolute;
  margin-left: 100px;
  margin-top: 130px;
  padding-left: 25px;
  border: none;
}
.body .word p {
  font-weight: 500;
}
.body .word2 {
  height: 50px;
  width: 300px;
  border: 2px solid black;
  position: absolute;
  margin-top: 160px;
  font-size: 13px;
  margin-left: 52px;
  border: none;
}
.body .input {
  margin-top: 215px;
  margin-left: 50px;
  height: 40px;
  width: 300px;
  box-shadow: 0px 0px 1px black;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.body .input #input {
  width: 300px;
  border: none;
  font-size: 14px;
  height: 40px;
  outline: none;
}
.body button {
  border: none;
  margin-top: 20px;
  margin-left: 50px;
  width: 300px;
  background-color: #B2DFFC;
  color: white;
}
.body .line {
  width: 300px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-top: 20px;
  border: none;
}
.body .line p {
  margin-top: 13px;
  color: #BFBFBF;
  font-size: 14px;
  font-weight: 400;
}
.body .line .line1 {
  width: 200px;
  border: 1px solid #d6d5d5;
  height: 0px;
  margin: 10px;
  position: relative;
  background-color: #d6d5d5;
}
.body .create {
  margin-left: 135px;
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
  text-decoration: none;
}
.body .create #create {
  text-decoration: none;
  color: black;
}
.body .back {
  height: 40px;
  width: 400px;
  box-shadow: 0px 0px 1px black;
  position: absolute;
  bottom: 0px;
}
.body .back #back {
  height: 40px;
  width: 400px;
  position: absolute;
  bottom: 0px;
  margin: 0px;
  background-color: #FAFAFA;
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.head {
  height: 30px;
  width: 70%;
  border: 2px solid black;
  margin-left: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
}
.head a {
  text-decoration: none;
  font-size: 13px;
  color: #A98E8E;
  font-family: sego;
}

.head2 {
  height: 30px;
  width: 25%;
  border: 2px solid black;
  margin-left: 600px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #A98E8E;
  font-size: 12px;
  border: none;
}

/*# sourceMappingURL=forgotpassword.css.map */
